<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <title>Habits | Edit Habit </title>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <a href="/habits/index">
        <div class="container-fluid bg-info"> 
            <div class="container">
                <h2 class='text-white'> 
                    <span class="index-back">&#xE800</span> Back to Dashboard
                </h2> 
            </div>
        </div>
    </a>

    <form action="/habits/<%= habit._id %>?_method=PUT" method="POST" class="d-flex flex-row flex-wrap justify-content-center">
        <div class="container">
            <div class='col-md'>
                <fieldset class="border px-4 pb-3 d-flex flex-column">
                    <legend>Edit Habit/Task</legend>
                    <label>
                        Name
                        <input type="text" name="name" placeholder="Habit/Task Name" value="<%= habit.name %>" class="w-100">
                    </label>
                    <label>
                        Description <br>
                        <textarea name="description" placeholder="Enter a short description of the task" class="w-100"><%= habit.description %></textarea>
                    </label>
                    <label>
                        Category/Tag
                        <input type="text" name="tag" placeholder="Eg: Health, Fitness, Learning, Social, etc" value="<%= habit.tag %>" class="w-100">
                    </label>
                </fieldset>
            </div>
            <div class="col-md">
                <fieldset class="border px-4 pb-3 d-flex flex-column">
                    <legend>Habit Values</legend>
                    <label>
                        Weekly Goal
                        <select class="w-100" name="weekly_goal">
                            <% for(let i = 1; i < 8; i++) { %> 
                                <option value="<%= i %>"
                                    <% if(habit.weekly_goal === i) { %> selected <% } %>
                                >
                                    <%= i %> time(s) per week</option>
                            <% } %>
                        </select>
                    </label>
                    <label>
                        Weight
                        <input class="w-100" type="number" name="weight" value="<%= habit.weight %>">
                        <P>Use weighting to indicate certain habits are more important. This will contribute to your habit adherence scoring. Leave this at 1 if you aren't sure.</P>
                    </label>
                </fieldset>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <a href="/habits/<%= habit._id %>">
                <div class="btn btn-secondary p-3 m-3">Cancel</div>
            </a>
            <input type="submit" value="Update Habit" class="btn btn-primary text-center p-3 m-3">
        </div>
        
    </form>
</body>
</html>