<!DOCTYPE html>
<html lang="en">

<head class="">
    <% include ../partials/head.ejs %>
    <script src="/js/habit-index1.js" charset="utf-8"></script>
    <script src="/js/sparkline.js" charset="utf-8"></script>
    <title>Habit Tracking | Habits</title>
</head>

<body class="">
    <div class="content">
        <% include ../partials/nav.ejs %>

        <div class='container'>
            <div class="row align-items-center">
                <h1 class="text-center mr-auto">All Habits</h1>
                <a href="/habits/index/archivetoggle">
                    <div <% if(user.archive_show) { %> id="archiveHide" <% } else { %> id="archiveShow" <% } %>
                        class="toggle-archive btn btn-warning">
                        <% if(user.archive_show) { %>
                        Hide Archived
                        <% } else { %>
                        Show Archived
                        <% } %>
                    </div>
                </a>
            </div>


            <div class="row date-row">
                <div class="col-0"> </div>
                <!-- Add the dates for each tag -->
                <% for(let j = 5; j >= 0; j--) { %>
                <div class="col-2 text-center date-header" date-offset="<%=j%>"> </div>
                <% } %>
            </div>

            <% if (habits.length === 0) { %>
            <div class="my-5 row justify-content-center align-items-center">
                No habits entered yet... <a class="text-center btn btn-success mx-4" href="/habits/new">New</a>
            </div>
            <% } %>

            <% for(let t = 0; t < tags.length; t++) { %>
            <div class="tag-habit-container  border-top border-bottom" id="<%= tags[t] %>">
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-center tag-title"
                    tag-name="<%= tags[t] %>">
                    <h2 class=""><%= tags[t] %> </h2>

                    <a class="btn btn-success mx-4" href="/habits/new?category=<%= tags[t] %>">New</a>

                    <canvas class="sparkline col-12" id="sparkChart<%=t%>" tag-name="<%= tags[t] %>" width="640px"
                        height="50px"></canvas>

                </div>
                <div class="habit-data-container">
                    <!-- <div class="row date-row">
                        <div class="col-0"> </div> -->
                    <!-- Add the dates for each tag -->
                    <!--   <% for(let j = 5; j >= 0; j--) { %>
                            <div class="col-2 text-center date-header" date-offset="<%=j%>"> </div>
                        <% } %>
                    </div> -->
                    <% for(let i = 0; i < habits.length; i++) { %>
                    <% let showHabit = true;
                        if(user.archive_show) {
                            showHabit = true;
                        } else {
                            if(habits[i].archived === false) {
                                showHabit = true;
                            } 
                            else {
                                showHabit = false;
                            }
                        } %>

                    <% if (habits[i].tag === tags[t] && showHabit) { %>
                    <div class="row habit-data-row" id="<%= habits[i]._id %>">
                        <div class="col-12">
                            <a href="/habits/<%= habits[i]._id %>">
                                <h3><%= habits[i].name %>
                            </a></h3>
                        </div>
                        <% for(let j = 5; j >= 0; j--) { %>
                        <div date-offset="<%= j %>" class="habit-check-field border col-2 text-center"
                            habit-id="<%= habits[i]._id %>">

                        </div>

                        <% } %>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <% include ../partials/footer.ejs %>

</body>

</html>